Source: pypdflib
Section: developement
Priority: optional
Maintainer: Santhosh Thottingal (santhosh.thottingal@gmail.com)
Build-Depends: debhelper (>=7.0.50~), python-support (>= 0.6), cdbs (>= 0.4.49)
XS-Python-Version: >=2.5
Standards-Version: 3.9.1

Package: pypdflib
Architecture: all
Homepage: https://github.com/santhoshtr/pypdflib
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}
Description: Pango Cairo based PDF rendering library
 Pango Cairo based PDF rendering library. Supports complex scripts rendering
 
